<configuration>
    <springProperty scope="context" name="identity" source="cloudcard.logging.identity" />
    <springProperty scope="context" name="host" source="cloudcard.logging.host" />
    <springProperty scope="context" name="port" source="cloudcard.logging.port" />
    <springProperty scope="context" name="level" source="logging.appender.papertrail.level" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%cyan(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <if condition='isDefined("host")'>
        <then>

            <appender name="PAPERTRAIL" class="com.papertrailapp.logback.Syslog4jAppender">
                <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                    <level>${level:-OFF}</level>
                </filter>

                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%-5level %logger{35}: %m%n%xEx</pattern>
                </layout>
                <syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.ssl.SSLTCPNetSyslogConfig">
                    <host>${host}</host>
                    <port>${port}</port>
                    <ident>${identity}</ident>
                    <maxMessageLength>128000</maxMessageLength>
                </syslogConfig>
            </appender>

            <root level="INFO">
                <appender-ref ref="PAPERTRAIL"/>
                <appender-ref ref="STDOUT"/>
            </root>
        </then>

        <else>
            <root level="INFO">
                <appender-ref ref="STDOUT"/>
            </root>
        </else>
    </if>
</configuration>
